<div class="grid-match-border {{this.home_away}}">
    <button class="grid-match 
    js-grid-match programme-{{this.programme_got_want}} 
    {{#if this.is_ticket_collection}}ticket-{{this.ticket_got_want}}{{/if}} 
    {{#if this.friendly}}friendly{{/if}}
    {{#if this.is_non_first_team}}non-first-team{{/if}}"
        data-season="{{this.season}}" 
        data-tier="{{this.tier}}" 
        data-date="{{this.date}}" 
        data-opponent="{{this.opponent}}" 
        data-home_away="{{this.home_away}}"
        data-score="{{this.score}}" 
        data-result="{{this.result}}" 
        data-position="{{this.position}}" 
        data-points="{{this.points}}" 
        data-competition="{{this.competition}}"
        data-cup_round="{{this.cup_round}}"
        data-ground="{{this.ground}}"
        data-attendance="{{this.attendance}}"
        data-match_notes="{{this.match_notes}}" 
        data-programme_got_want="{{this.programme_got_want}}" 
        data-ticket_got_want="{{this.ticket_got_want}}" 
        data-price="{{this.price}}" 
        data-notes="{{this.notes}}"
        data-other_items="{{this.other_items}}"
        data-id="{{this.id}}"
        >
    </button>
</div>