<div class="js-rich-view__container rich-view__container">
    {{#if data.isFiltered}}
    <div class="section align-left">
        <span class="js-print-view-toggle faux-link">
            <span>Print View</span>
            <span class="hidden">
                << Back
            </span>
        </span>
    </div>
    {{/if}}
    <div class="rich-view js-rich-view">
        {{>header}}
        <div class="filter">
            <span class="js-filter-toggle faux-link">
                <span class="">Filter Data >></span>
                <span class="hidden">Hide Filter <<</span>
            </span>
            <div class="section js-filter-form filter__content hidden">
                {{#if data.isFiltered}}
                <form class="section" action="/" method="GET">
                    <button class="button" type="submit">Remove Filter</button>
                </form>
                {{/if}}
                <form class="section" action="/" method="POST">
                    {{#if data.is_ticket_collection}}
                    <div class="section">
                        <label for="tickets">Tickets</label>
                        <input type="radio" id="ticket" name="ticketProgrammeFilter" value="Ticket">
                        <label for="programmes">Programmes</label>
                        <input type="radio" id="programmes" name="ticketProgrammeFilter" value="Programme"></input>
                        <label for="all">All</label>
                        <input type="radio" id="all" name="ticketProgrammeFilter" value="All" checked></input>
                    </div>
                    {{/if}}
                    {{#if data.includes_non_first_team}}
                    <div class="section">
                        <label for="firstTeam">First Team</label>
                        <input type="radio" id="ticket" name="nonFirstTeamFilter" value="No">
                        <label for="nonFirstTeam">Non First Team</label>
                        <input type="radio" id="programmes" name="nonFirstTeamFilter" value="Yes"></input>
                        <label for="all">All</label>
                        <input type="radio" id="all" name="nonFirstTeamFilter" value="" checked></input>
                    </div>
                    {{/if}}
                    <div class="section">
                        <label for="got">Got</label>
                        <input type="radio" id="got" name="gotWantFilter" value="Got">
                        <label for="want">Want</label>
                        <input type="radio" id="want" name="gotWantFilter" value="Want"></input>
                        <label for="all">All</label>
                        <input type="radio" id="all" name="gotWantFilter" value="" checked></input>
                    </div>
                    <div class="section">
                        <label for="home">Home</label>
                        <input type="radio" id="home" name="homeAwayFilter" value="Home">
                        <label for="away">Away</label>
                        <input type="radio" id="away" name="homeAwayFilter" value="Away"></input>
                        <label for="all">All</label>
                        <input type="radio" id="all" name="homeAwayFilter" value="" checked></input>
                    </div>
                    <div class="checkbox checkbox__season section">
                        {{#data.season_list}}
                        <div>
                            <input type="checkbox" id="seasonFilter" name="seasonFilter" value="{{this}}">
                            <label for="seasonFilter">{{this}}</label>
                        </div>
                        {{/data.season_list}}
                    </div>
                    <div class="checkbox checkbox__opponent section">
                        {{#data.opponent_list}}
                        <div>
                            <input type="checkbox" id="opponentFilter" name="opponentFilter" value="{{this}}">
                            <label for="opponentFilter">{{this}}</label>
                        </div>
                        {{/data.opponent_list}}
                    </div>
                    <input id="filter" name="filter" class="hidden" value="filter"></input>
                    <button class="button" type="submit">Filter</button>
                </form>
            </div>
        </div>

        <img class="prog-img prog-img--left" src="{{data.img_one_src}}" alt="">
        <img class="prog-img prog-img--right" src="{{data.img_two_src}}" alt="">
        {{#if data.intro}}
        <div class="intro">
            <p>
                {{data.intro}}
            </p>
        </div>
        {{/if}}

        <div class="collection-container">

            <div class="section">
                <span class="js-key-toggle faux-link">
                    <span>Show Key >></span>
                    <span class="hidden"><< Hide Key</span>
                </span>
                <div class="js-key key section hidden">
                    <div>
                        <div class="key-item">
                            <div class="grid-match-border Home key-dot">
                                <div class="grid-match"></div>
                            </div>
                            <div class="key-descriptor">Home</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Away key-dot">
                                <div class="grid-match"></div>
                            </div>
                            <div class="key-descriptor">Away</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match"></div>
                            </div>
                            <div class="key-descriptor">Neutral</div>
                        </div>
                        {{#if data.includes_non_first_team}}
                        <div class="key-item">
                            <div class="grid-match-border Home friendly-border key-dot">
                                <div class="grid-match"></div>
                            </div>
                            <div class="key-descriptor">Friendly</div>
                        </div>
                        {{/if}}
                    </div>
                    <div>
                        {{#if data.includes_non_first_team}}
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match programme-Got ticket-Want"></div>
                            </div>
                            <div class="key-descriptor">Programme Got</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match programme-Want ticket-Got"></div>
                            </div>
                            <div class="key-descriptor">Ticket Got</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match programme-Got ticket-Got"></div>
                            </div>
                            <div class="key-descriptor">Programme and Ticket Got</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match non-first-team"></div>
                            </div>
                            <div class="key-descriptor">Non First Team</div>
                        </div>
                        {{else}}
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match programme-Got"></div>
                            </div>
                            <div class="key-descriptor">Got</div>
                        </div>
                        <div class="key-item">
                            <div class="grid-match-border Neutral key-dot">
                                <div class="grid-match programme-Want"></div>
                            </div>
                            <div class="key-descriptor">Want</div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

        {{#data.collection_data}}
            <div class="matches-container">
                <div class="matches section" data-season-string="{{season_string}}">
                    <div class="season-head">
                        <span class="typography--large">{{season}}</span>
                        {{#unless programmeIsNotComplete}}
                        <span><img class="check-icon" src="/check-icon.png" alt="check mark icon to indicate programme collection for the season is complete"></span>
                        {{/unless}}
                        <span class="js-table-toggle faux-link">
                            <span class="js-show-more">Show More</span>
                            <span class="hidden">Show Less</span>
                        </span>
                        {{#if programmeIsNotComplete}}
                        <span class="js-wants-toggle faux-link hidden">
                            <span class="js-show-wants">Show Wants</span>
                            <span class="js-show-all hidden">Show All</span>
                        </span>
                        {{/if}}
                    </div>
                    <div class="js-games-dots-container">
                        <div class="games-dots js-games-dots">
                        {{#matchData}}
                            {{>grid-match}}
                        {{/matchData}}
                        </div>
                        {{#if nft_matchData}}
                        <div class="games-dots games-dots--secondary js-games-dots">
                            {{#nft_matchData}} 
                                {{>grid-match}} 
                            {{/nft_matchData}}
                        </div>
                        {{/if}}
                    </div>
                    <div class="js-games-table games-table hidden">
                        <table class="table">
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:15%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <thead class="secondary-color">
                                <tr>
                                    <th></th>
                                    <th>Date</th>
                                    <th>Opponent</th>
                                    <th>Competition</th>
                                    <th>H / A</th>
                                    <th>Result</th>
                                    <th class="hidden-mobile">Match Notes</th>
                                    <th class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">Programme Price</th>
                                    <th class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">Programme Notes</th>
                                    <th>Programme Got / Want</th>
                                    {{#if this.is_ticket_collection}}<th>Ticket Got / Want</th>{{/if}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#matchData}}
                                <tr>
                                    <td>{{>grid-match}}</td>
                                    <td>{{date}}</td>
                                    <td>{{opponent}}</td>
                                    <td>{{competition}}{{#if cup_round}}, {{cup_round}}{{/if}}</td>
                                    <td>{{home_away}}</td>
                                    <td>{{score}}</td>
                                    <td class="hidden-mobile">{{match_notes}}</td>
                                    <td class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">{{price}}</td>
                                    <td class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">{{programme_notes}}</td>
                                    <td>{{programme_got_want}}</td>
                                    {{#if this.is_ticket_collection}}<td class=>{{this.ticket_got_want}}</td>{{/if}}
                                </tr>
                                {{/matchData}}
                                {{#nft_matchData}}
                                <tr>
                                    <td>{{>grid-match}}</td>
                                    <td>{{date}}</td>
                                    <td>{{opponent}}</td>
                                    <td>{{competition}}{{#if cup_round}}, {{cup_round}}{{/if}}</td>
                                    <td>{{home_away}}</td>
                                    <td>{{score}}</td>
                                    <td class="hidden-mobile">{{match_notes}}</td>
                                    <td class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">{{price}}</td>
                                    <td class="{{#if this.is_ticket_collection}}hidden{{/if}} hidden-mobile">{{programme_notes}}</td>
                                    <td>{{programme_got_want}}</td>
                                    {{#if this.is_ticket_collection}}<td class=>{{ticket_got_want}}</td>{{/if}}
                                </tr>
                                {{/nft_matchData}}
                            </tbody>
                        </table>
                    </div>
                </div>
            
            </div>
        {{/data.collection_data}}
        </div>
        <a href="#header" class="sticky-bottom">Back to top ^</a>
        <div class="footer">
            <a href="https://docs.google.com/spreadsheets/d/{{data.sheet_id}}" target="_blank">View Data</a>
        </div>

        <div class="modal js-modal hidden">
            <div class="modal-content typography--small">
                <div class="js-modal-content-editable">
                    <div class="js-modal-season"></div>
                    <div class="js-modal-competition"></div>
                    <div class="js-modal-cup_round"></div>
                    <div class="js-modal-date"></div>
                    <div class="js-modal-opponent typography--large primary-color"></div>
                    <div class="js-modal-home_away"></div>
                    <div class="js-modal-score"></div>
                    <div class="js-modal-points"></div>
                    <div class="js-modal-league_position"></div>
                    <div class="js-modal-ground"></div>
                    <div class="js-modal-attendance"></div>
                    <div class="js-modal-match_notes"></div>
                    <div class="typography--large primary-color">
                        <div>{{#if data.is_ticket_collection}}<span>Programme: </span>{{/if}}<span class="js-modal-programme_got_want"></span></div>
                        {{#if data.is_ticket_collection}}<div><span>Ticket: </span><span class="js-modal-ticket_got_want"></span></div>{{/if}}
                    </div>
                    <div class="js-modal-price"></div>
                    <div class="js-modal-programme_notes"></div>
                    <div class="js-modal-other_items"></div>
                    <button class="button js-modal-edit-button">Edit</button>
                </div>
                <form method="POST" class="section js-modal-content-form" action="/">
                {{#if data.edit_mode}}
                    <div class="form-body">
                        <label class="form-body__label" for="Season">Season</label>
                        <input name="Season" id="form-season" class="js-form-season form-body__input"></input>
                    </div>
                    <div class="form-body">
                        <label class="form-body__label" for="Competition">Competition</label>
                        <input name="Competition" id="form-competition" class="js-form-competition form-body__input"></input>
                    </div>
                    {{#if data.data_points.cup_round}}
                    <div class="form-body">
                        <label class="form-body__label" for="Cup Round">Cup Round</label>
                        <input name="Cup Round" id="form-cup_round" class="js-form-cup_round form-body__input"></input>
                    </div>
                    {{/if}}
                    <div class="form-body">
                        <label class="form-body__label" for="Date">Date</label>
                        <input name="Date" id="form-date" class="js-form-date form-body__input"></input>
                    </div>
                    <div class="form-body">
                        <label class="form-body__label" for="Opponent">Opponent</label>
                        <input name="Opponent" id="form-opponent" class="js-form-opponent form-body__input"></input>
                    </div>
                    <div class="form-body">
                        <label class="form-body__label" for="Home/Away">Home/Away</label>
                        <select id="Home/Away" name="Home/Away" class="js-form-home_away form-body__input">
                            <option value="Home">Home</option>
                            <option value="Away">Away</option>
                        </select>
                    </div>
                    {{#if data.data_points.includes_non_first_team}}
                    <div class="form-body">
                        <label class="form-body__label" for="Non First Team">Non First Team</label>
                        <select id="Non First Team" name="Non First Team" class="js-form-non_first_team form-body__input">
                            <option value="Yes">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    {{/if}}
                    {{#if data.data_points.friendly}}
                    <div class="form-body"> 
                        <label class="form-body__label" for="Friendly">Friendly</label>
                        <select id="Friendly" name="Friendly" class="js-form-friendly form-body__input">
                            <option value="Yes">Yes</option>
                            <option value="">No</option>
                        </select>
                    </div>
                    {{/if}}
                    {{#if data.data_points.score}}
                    <div class="form-body">
                        <label class="form-body__label" for="Score">Score</label>
                        <input name="Score" id="form-score" class="js-form-score form-body__input"></input>
                    </div >
                    {{/if}}
                    {{#if data.data_points.points}}
                    <div class="form-body">
                        <label class="form-body__label" for="Points">Points</label>
                        <input name="Points" id="form-points" class="js-form-points form-body__input"></input>
                    </div>
                    {{/if}}
                    {{#if data.data_points.league_position}}
                    <div class="form-body">
                        <label class="form-body__label" for="League Position">League Position</label>
                        <input name="League Position" id="form-league_position" class="js-form-league_position form-body__input"></input>
                    </div>
                    {{/if}}
                    {{#if data.data_points.ground}}
                    <div class="form-body">
                        <label class="form-body__label" for="Ground">Ground</label>
                        <input name="Ground" id="form-ground" class="js-form-ground form-body__input"></input>
                    </div>
                    {{/if}}
                    {{#if data.data_points.attendance}}
                    <div class="form-body">
                        <label class="form-body__label" for="Attendance">Attendance</label>
                        <input name="Att" id="form-attendance" class="js-form-attendance form-body__input"></input>
                    </div>
                    {{/if}}
                    {{#if data.data_points.match_notes}}
                    <div class="form-body">
                        <label class="form-body__label" for="Match Notes">Match Notes</label>
                        <input name="Match Notes" rows="4" id="form-match_notes" class="js-form-match_notes form-body__input"></input>
                    </div>
                    {{/if}}
                    <div class="section">
                        {{#if data.is_ticket_collection}}
                        <div>
                            <strong class="primary-color">Programme: </strong>
                        </div>
                        {{/if}}
                        <div>
                            <label for="got">Got</label>
                            <input type="radio" id="got" name="Programme Got/Want" value="Got" class="js-form-programme-got">
                            <label for="want">Want</label>
                            <input type="radio" id="want" name="Programme Got/Want" value="Want" class="js-form-programme-want"></input>
                        </div>
                        {{#if data.data_points.price}}
                        <div>
                            <label class="form-body__label" for="Programme Price">Programme Price</label>
                            <input name="Programme Price" id="form-price" class="js-form-price form-body__input"></input>
                        </div>
                        {{/if}}
                        {{#if data.data_points.programme_notes}}
                        <div class="form-body">
                            <label class="form-body__label" for="Programme Notes">Programme Notes</label>
                            <textarea name="Programme Notes" rows="3" id="form-programme_notes" class="js-form-programme_notes form-body__input"></textarea>
                        </div>
                        {{/if}}
                        {{#if data.is_ticket_collection}}
                        <div>
                            <strong class="primary-color">Ticket: </strong>
                        </div>
                        <div>
                            <label for="got">Got</label>
                            <input type="radio" id="got" name="Ticket Got/Want" value="Got" class="js-form-ticket-got">
                            <label for="want">Want</label>
                            <input type="radio" id="want" name="Ticket Got/Want" value="Want" class="js-form-ticket-want"></input>
                        </div>
                        {{/if}}
                        {{#if data.data_points.other_items}}
                        <div class="form-body">
                            <label class="form-body__label" class="block primary-color" for="Other Items"><strong>Other Items</strong></label>
                            <textarea name="Other Items" rows="4" id="form-other_items" class="js-form-other_items form-body__input"></textarea>
                        </div>
                        <input id="form-id" name="ID" class="js-form-id hidden"></input>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="password-box">
                        {{#if data.passwordFail}}<div class="error-msg">The password you entered was incorrect, please try again</div>{{/if}}
                        <div>
                            <label for="password">Enter password to enable edit mode:</label>
                        </div>
                        <input name="password" id="form-password" class="js-form-password"></input>
                    </div>
                {{/if}}
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{#if data.isFiltered}}
<div class="js-print-view hidden">
    <div class="section align-left">
        <strong>Showing:</strong>
        {{#each data.appliedFilter}}
        <div>{{this}}</div>
        {{/each}}
    </div>
    <table class="table table--print-view">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:12%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Opponent</th>
                <th>Competition</th>
                <th>H / A</th>
                <th>Result</th>
                <th class="hidden-mobile">Match Notes</th>
                <th>Programme Got / Want</th>
                {{#if data.is_ticket_collection}}<th>Ticket Got / Want</th>{{/if}}
            </tr>
        </thead>
    </table>
{{#data.collection_data}}
    <div class="matches section" data-season-string="{{season_string}}">
        <table class="table table--print-view">
            <col style="width:12%">
            <col style="width:12%">
            <col style="width:12%">
            <col style="width:12%">
            <col style="width:12%">
            <col style="width:12%">
            <col style="width:12%">
            <tbody>
                {{#matchData}}
                <tr>
                    <td>{{date}}</td>
                    <td>{{opponent}}</td>
                    <td>{{competition}}</td>
                    <td>{{home_away}}</td>
                    <td>{{score}}</td>
                    <td class="hidden-mobile">{{match_notes}}</td>
                    <td>{{programme_got_want}}</td>
                    {{#if this.is_ticket_collection}}<td>{{ticket_got_want}}</td>{{/if}}
                </tr>
                {{/matchData}}
            </tbody>
        </table>
    </div>
{{/data.collection_data}}
</div>
{{/if}}
<div class="js-title hidden">{{data.heading}}</div>
<div class="js-colour-one hidden">{{data.colour_one}}</div>
{{#if data.colour_two}}
<div class="js-colour-two hidden">{{data.colour_two}}</div>
{{/if}}
{{#if data.colour_three}}
<div class="js-colour-three hidden">{{data.colour_three}}</div>
{{/if}}
{{#if data.table_colour}}
<div class="js-table-colour hidden">{{data.table_colour}}</div>
{{/if}}
<div class="hidden" data-modal_data_points="{{data.modalDataPoints}}"></div>
{{#each data.modalDataPoints}}
<div class="js-modal-data-point hidden">{{this}}</div>
{{/each}}
